{% extends 'layouts/main.html' %}

{% block content %}
  <div class="container messages-wrapper">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning fda in">
            <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  <div class="container group-info">
    <h1>{{ group.groupName }}</h1>
    <p><a href="/groups/{{group.groupName}}/edit">Edit group</a></p>
  </div>

  <div class="container group-users-list">
    <h1>Members:</h1>
    <ul style="list-style: none;">
      {% for user in users %}
        <li>
          <p>User: {{ user.userName }}</p>
          <p>Phone number: {{ user.Phonenumber }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
